<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link not found</title>
    <style>
        *{ box-sizing: border-box; }
    
        body{
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #A2AD91;
        }

        .not_found_label{
            padding: 15px;
            background-color: #3A2D32;
            border-radius: 15px;
            color: #FFE3DC
        }

        a{
            color: #FFE3DC
        }
    </style>

</head>
<body>

    <h1 class="not_found_label">Page Not Found. Return to <a href="/home">Homepage</a></h1>


    
</body>
</html>